*{
padding: 0;
margin: 0;
box-sizing: border-box;
color: white;
}

.main{

border: 2px solid red;
height: 100vh;
display: flex;
justify-content: center;
padding-top:10px ;

}
.box{
  width: 500px;
  height: 300px;
  text-align: center;
}
.input{
  padding: 6px;
  margin-right: 3px;
  background-color:white;
  border-radius: 8px;
  color: black;
  width: 200px;
}
.copy{
  padding: 4px;
  background-color: darkblue;
  border-radius: 30%;
}
.buttom{
  display: flex;
  gap: 0.5rem;
  padding-left: 130px;
  padding-top: 5px;
}